@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Signika+Negative:wght@500&family=Space+Grotesk:wght@500;600&display=swap');
/* icon style start */
 
 
.fa-bars{
    color:white;
    margin-left:30px;
  
}
.fa-clock{
    font-size:20px;
    margin-right:5px;
}
.fa-star{
    color:rgb(214, 214, 24);
}
.fa-arrow-right{
    margin-left:20px;
}
.fa-opencart{
    background-color: #3577f0;
    border-radius:20px;
    font-size:large;
    color:white;
}
.fa-xmark{
    font-size:20px;
    color: #444546;
}

/* icon style close */
.flex-box{
    display:flex;
}
.show-item{
    display:block;
}
a{
    text-decoration:none;
    color:black;
}
 
h1{
    font-size:35px;
}
hr{
    border-color:rgb(0, 0,0,0.06);
}
li{
    list-style:none;
}
.container{
    margin:1px 120px 0 120px;
    height:auto;
    /* background-color: #91b6f9; */
 
}
.margin-up{
    margin-top:100px;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
} 


/* header-section:start */
header{
    background-color:#eff4f7;
    height:5rem;
    width:100%;
    position:sticky;
    top:0px;
    z-index:1;
}
 
.logo{
    height:5rem;
    width:150px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.search-lang{
    /* background-color: aquamarine; */
    height:5rem;
    margin-left:140px;
    width:80%;
    display:flex;
    justify-content:space-between;
    
}
.search-lang li{
    list-style:none;
    line-height:80px;
}
.search-lang li select{
    width:70px;
    height:35px;
    border-radius:4px;
    outline:none;
    border-color:rgb(0, 0,0,0.06);
    box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}
.search-parent{
    position: relative;
}
#search-box{
    outline:none;
    height:38px;
    width:800px;
    border-radius:0px 5px;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
    border-color:rgb(0, 0,0,0.06);
    text-indent:50px;
     
}
.search-parent .fa-magnifying-glass{
    position: absolute;
    top:35px;
    left:20px;
     
 
     
}
.text-cata{
    height:3.5rem;
    width:255px;
    line-height:50px;
    padding:5px;
    background-color:#3577f0;
    line-height:50px;
    font-size:18px;
    color:#fff;
    font-weight:lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
/* header:end */


/* small menu section */
.small-menu-section{
    position: relative;
    display: none;
}
#close-small-menu{
    outline:none;
    height:30px;
    width:30px;
    border-radius:100px;
    position: absolute;
    top:10px;
    right:20px;
    box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
    border-color:rgb(0, 0,0,0.06);
    color:black;

}
.main-box-menu{
    background-color:#fff;
    height:755px;
    width:17%;
    position:fixed;
    left:0%;
    top:0px;
    z-index:1;
    box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
    border-color:rgb(0, 0,0,0.06);
    overflow-y:scroll;  
    transition:1s; 
}
.main-content{
    height:755px;
    width:89%;
    margin:50px 10px 0px 50px;
}
.main-content ul li{
    height:50px;
}
.small-menu-section .main-content ul li:hover{
    background-color: #91b6f9;
    transition:1s;
}
  


nav{
    width:100%;
    border-color:rgb(0, 0,0,0.06);
    background-color:#f7f7f7;
}
main{
    /* background-color:blue; */
    width:100%;
    
} 
/* cart section:start */
.carts-section{
    position: relative;
}
.main-box-cart{
    background-color:#fff;
    height:755px;
    width:40%;
    position:fixed;
    right:-110%;
    top:0px;
    z-index:1;
    box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
    border-color:rgb(0, 0,0,0.06);
    overflow-y:scroll;  
    transition:1s; 
}
.main-content{
    height:755px;
    width:89%;
    margin:50px 10px 0px 50px;
}
.main-content ul li:nth-child(1){
    position: relative;
    font-size:30px;
}
.main-content ul li:nth-child(1) button{
    height:40px;
    width:40px;
    border-radius:50px;
    background-color:#fff;
    border: none;
    box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
    border-color:rgb(0, 0,0,0.06);
    position: absolute;
    right: 0px;
}
.main-content ul li{
    margin-top:20px
   
}
.main-content ul li img{
    height:100px;
    width:100px;
    border-radius:5px;

}
.main-content ul li .details{
    
    height:100px;
    width:200px;
    margin-left:30px;

}
.main-content ul li .details .title{
    font-size:20px;

}
.main-content ul li .number-of-item{
     
    height:50px;
    width:158px;
    margin-left:20px;
    margin-top:30px;

  
}
.main-content ul li .number-of-item button{
    height:30px;
    width: 30px;
    border-radius: 50px;
    background-color:#fff;
    border: none;
    box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
    border-color:rgb(0, 0,0,0.06);
    margin-left:10px;

}
.main-content ul li .number-of-item .number{
     
    border-radius: 50px;
    text-align:center;
    line-height:35px;
    margin-left:10px;
}
.main-content ul li:nth-child(1) button:hover{
    background-color: #3577f0;
    color:#fff;

}
.sub-total{
    height:60px;
    position: relative;
}
.sub-total .price{
    position: absolute;
    right:0px;
    font-size:30px;
    color:rgb(58, 51, 51);

}
.sub-total .title{
    font-size:30px;
} 
.btn-vc button{

   height:60px;
    width:200px;
    margin-left:20px;
    border-radius:7px;
    outline:none;
    border:none;
    color:white;
    font-size:20px;
    background-color: #3577f0;
}
/* cart section:end */


/* footer section:start */

footer{
    border-color:rgb(0, 0,0,0.06);
    background-color:#f7f7f7;
    height:480px;
    width:100%;
    margin-top:50px;
}
footer .footer-first{
    height:400px;
}
footer .footer-first .flex-box{
    justify-content: space-between;
}
footer .footer-first ul{
    width:20%;
    height:300px;
}
footer .footer-first ul li{
    list-style:none;
    margin-top:15px;
    font-size:19px;

}
footer .footer-first ul li img{
    height:270px;
    width:270px;
}
footer .footer-last{
  
    height:70px;
    width:100%;
}
footer .footer-last .first{
 
    width:15%;
    height:70px;
    line-height:60px;
}
footer .footer-last .second{
  
    width:67%;
    text-align:center;
    line-height:60px;
    height:70px;

}
footer .footer-last .third{
   
    width:20%;
    line-height:60px;
}
footer .footer-last .flex-box{
    justify-content:space-between;
    justify-items: center;
    text-align:center;
}
 
 
footer .footer-first ul li a:hover{
    border-bottom:2px solid black;

}
footer .footer-first ul li:nth-child(1){
    font-size:30px;
}
footer .footer-first ul li:nth-child(2){
    margin-top:20px;
}
/* footer section:end */
/* navigation:Start*/

.nav-design-box{
    display:flex;
    position: relative;
}
.nav-list{
    display:flex;
    width:50%;
    justify-content:space-around;
}
.nav-list li{
    list-style:none;
    line-height:50px;
}
 .nav-list li a{
    color:rgb(109, 104, 104);
    text-decoration:none;
    font-weight: bold;
    font-size:14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
 }
 nav .nav-list li a:hover{
     border-bottom:2px solid black;
 }

.setting{
    display:flex;
    justify-content:center;
    width:10%;
    position:absolute;
    right:0px;
     

}
.setting li{
    list-style:none;
    line-height:50px;
    margin-left:20px;
    

}
/* navigation:end */

/* auto refresh */
/* Hide the images by default */
.slider{
    display: none;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration:2s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* auto refresh end */

/* hero-section:start */
.catagories-list{
    width:256px;
    height:420px;   
}
.catagories-list ul{
    background-color: #fff;
    height:420px;
    position: relative;   
    border:1px solid black;
    box-shadow:0px 2px 50px rgb(0, 0,0,0.06);
    border-color:rgb(0, 0,0,0.06);


}
.catagories-list ul li{
    list-style:none;
    line-height:50px;   
    color: rgb(86, 81, 81);
    margin-left:5px;
}
.catagories-list ul li i{
    margin-right:10px;
    margin-left:10px;
    color:#3577f0;
}
.catagories-list ul li:hover{
    background-color: #91b6f9;
    transition:1s;
}
.catagories-list ul li:hover ul{
   visibility: visible;
   transition:1s;
}
.catagories-list ul li ul{
    background-color: #fff;
    width:150px;
    border:1px solid black;
    border-color:rgb(0, 0,0,0.06); 
    position:absolute;
    left:256px;
    top:0px;
    visibility:hidden;

     

}
.catagories-list ul li ul li:hover ul{
     display:block;
     transition:1s;
}
.catagories-list ul li ul li ul{
    position:absolute;
    top:0px;
    left:149px;
    display:none;
    background-color:#fff;
}
.most-sell-product1{
    background-color:#f7f7f7;
    border-radius:7px;
    height:389px;
    width:75%;
    margin:30px 20px 0px 30px;
     
}
.product1-text{
    margin:70px 10px 10px 50px;
}
.product1-text li{
    list-style:none;
}
.product1-text li:nth-child(1){
    color:rgb(237, 120, 120);
}
.product1-text li:nth-child(2){
  margin-top:10px;
  font-size:55px;
}
.product1-text li:nth-child(3):hover .fa-arrow-right{
    margin-left:10px;
  }
  .product1-text li:nth-child(3){
    margin-top:20px;
  }
  .product1-text li:nth-child(3):hover{
    color: #3577f0;
  }
  .product1-logo{
    height:300px;
    margin-top:50px;
    margin-left:70px;
  }

.most-sell-product2{
    background-color:#f7f7f7;
    height:389px;
    width:25%;
    margin-top:30px;
    border-radius:7px;
}
.small-product-box{
    height:280px;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top:40px;
    justify-content:space-between;
}
.product2-text{
    font-size:20px;
}
.product2-text li{
    list-style:none;
    margin-top:10px;
     

}
/* hero-section:end */

/* feature section:start */
.feature-section{
    margin-top:50px;
    height:auto;
}
.feature-section .flex-box{
    /* justify-content: space-between; */
    gap:30px;
    flex-wrap: wrap;
}
.feature-box{
    height:220px;
    width:230px;
    border:1px solid black;
    border-color:rgb(0, 0,0,0.06);
    background-color:#fff;
    border-radius:5px;
    flex-wrap: wrap;

    

}
.feature-box:hover{
    box-shadow:0px 15px 20px rgb(0, 0,0,0.06);
}
.feature-box li:nth-child(1){
    list-style:none;
    margin:50px 70px 0px 70px;
}
.feature-box li:nth-child(2){
    list-style:none;
    text-align:center;
    margin-top:13px;
    font-size:23px;
}
.feature-box li img{
        height:70px;
        width:70px;
}
/* feature section:close */

 /* New-Arrivals-section:start */
 .New-Arrivals-section{
    margin-top:100px;
 }
 .heading-arrow{
    height:43px;
    position: relative;
    margin-top:15px;
 }
 .arrow-btn{
    position:absolute;
    right:0px;
    top:0px;
}
.heading-arrow .arrow-btn button{
    height:40px;
    width:50px;
    border-radius:5px;
    outline:none;
    border:none;
    box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
    border-color:rgb(0, 0,0,0.06);
    background-color:rgb(202, 201, 201);
   

    
}
.list-of-arrivlas{
    margin-top:45px;
    width:100%;
}
.list-of-arrivlas .flex-box{
    gap:30px;
    flex-wrap: wrap;
}
.list-of-arrivlas .box-list{

    height:400px;
    width:295px;
    border-radius:7px;
    position: relative;
     
}
.list-of-arrivlas .box-list li{
    list-style:none;
}
.list-of-arrivlas .box-list li img{
    height:300px;
    width:100%;
    border-radius:7px;
    box-shadow:0px 5px 5px rgb(0, 0,0,0.06);
 
}
/* .list-of-arrivlas .box-list li img:hover{
    
} */
.list-of-arrivlas .box-list li:nth-child(3){
    list-style:none;
    text-align: center;
    margin-top:10px;
    font-size:20px;
    color:rgb(91, 88, 88);

}
 
.list-of-arrivlas .box-list  li:nth-child(1){
    position:absolute;
    right:10px;
    background-color:#fff;
    width:40px;
    height:40px;
    border-radius:30px;
    text-align:center;
    
}
.list-of-arrivlas .box-list  li:nth-child(1) .fa-cart-shopping{
    margin-top:10px;
}
.list-of-arrivlas .box-list  li:nth-child(1):hover{
    background-color: #3577f0;
    color: #CBD3D9;
    transition:1s;
}
 
  /* New-Arrivals-section:End */
  
  /* Best-Seller-section:start */
  .Best-Seller-section{
    margin-top:100px;
    height:auto;
     
  }
  .list-of-mostsell{
    margin-top:45px;
  
  }
  .list-of-mostsell .flex-box{
    gap:30px;
    flex-wrap: wrap;

}
  .list-of-mostsell .box-list{
    background-color:#f7f7f7;
    box-shadow:0px 5px 5px rgb(0, 0,0,0.06);
    height:300px;
    width:295px;
    border-radius:7px;
    position: relative;
    
  }
  .list-of-mostsell .box-list li{
    list-style:none;
  }
  .list-of-mostsell .box-list li:nth-child(1){
    background-color:#fff;
    width:40px;
    height:40px;
    border-radius:30px;
    text-align:center;
    position: absolute;
    right:10px;
   
  }
  .list-of-mostsell .box-list li:nth-child(1) .fa-cart-shopping{
         margin-top:10px;
  }
  .list-of-mostsell .box-list  li:nth-child(1):hover{
    background-color: #3577f0;
    color: #CBD3D9;
    transition:1s;
}
  .list-of-mostsell .box-list li:nth-child(2){
    font-size:20px;
    margin-top:30px;
    margin-left:30px;
  }
  .list-of-mostsell .box-list li:nth-child(3){
    font-size:17px;
    margin-left:30px;
    margin-top:5px;
  }
  .list-of-mostsell .box-list li:nth-child(4){
    margin-top:5px;
    font-size:17px;
    margin-left:30px;
  }
  .list-of-mostsell .box-list li img{
    height:300px;
    margin-top:40px;
  }
  /* Best-Seller-section:end */
  /* special-offer-section:start */
  .special-offer-section{
    margin-top:300px;
  }
  .special-offer-section .main-box{
    background-color:#f7f7f7;
    height:500px;
    width:100%;
    border-radius:3px;
    position: relative;
  }
  .special-offer-section .main-box .text-part{
    height:500px;
    width:50%;
  }
  .special-offer-section .main-box .text-part .group{
    height:400px;
    width:60%;
    margin-left:60px;
    margin-top:60px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;

  }
  .group li{
    list-style:none;
  }
  .group li:nth-child(2){
    font-size:50px;
    font-weight: bold;
  }
  .special-offer-section .main-box .image-part{
    height:500px;
    width:50%;
  }
  .special-offer-section .main-box .image-part img{
    position:absolute;
    top:-100px;
  }

  #Checkit{
    height:60px;
    width:180px;
    border-radius:7px;
    outline:none;
    border:none;
    color:white;
    font-size:20px;
    background-color: #3577f0;

  }
  .time-remain{
    background-color:#fff;
    height:80px;
    width:80px;
    border-radius:100px;
    margin-left:5px;
    text-align:center;
    line-height:40px;
    font-size:20px;
  }
  #Checkit:hover{
    width:200px;
    height:64px;
  }
    /* special-offer-section:end */

    /* Explore-product:section:start */
    
    .list-of-product{
        height:1000px;
        width:100%;
    }
    .list-of-product button{
        height:60px;
        width:250px;
        color: #797e83;
        border-radius:3px;
        outline:none;
        border:none;
        font-size:20px;
        background-color: #e2e3e7;
        margin-left:500px;
        box-shadow:0px 5px 15px rgb(0, 0,0,0.06);


    }
    .list-of-product button:hover{
        height: 65px;
        width:255px;
        background-color: #91b6f9;
        transition:0.5s;
    }
    .list-of-product .flex-box{
        flex-wrap: wrap;
        gap:30px;
    }
    .cart-list{
        background-color:#f7f7f7;
        height:400px;
        width:290px;
        border-radius:12px;
        margin-top:20px;

    }
    .cart-list li{
        list-style:none;
        margin-top:3px;
    }
    .cart-list li:nth-child(2){
        font-size:13px;

    }
    .cart-list li:nth-child(3){
      font-size:20px;
    }
    .cart-list li:nth-child(5){
        display:flex;
        position: relative;
    }
    .cart-list li:nth-child(5) .cart-i{
        background-color:#fff;
        position: absolute;
        right:10px;
        bottom:1px;
        height:40px;
        width:40px;
        border-radius:30px;
        text-align:center;
         
    }
    .cart-list li:nth-child(5) .cart-i:hover{
        background-color: #3577f0;
        color: #CBD3D9;
        transition:1s;
    }
    .cart-list li:nth-child(5) .cart-i i{
        margin-top:10px;
             

    }
    .price{
        color:rgb(24, 115, 24);
        font-size:20px;
    }
    .cart-list img{
        height:270px;
        border-radius:12px;
        width:270px;
        margin-left:10px;
        margin-top:10px;
        box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
 

    }
    /* Explore-product:section:end */
    /* banner section :start*/
    .banner-section{
        height:500px;
        width:100%;
    }
    .banner img{
        height:430px;
        width:100%;
        border-radius:5px;
    }
    /* banner section:end */

    /* product inner section:start */
    .main-box{
         
        height:500px;
        width:100%;
        margin-top:50px;


    }
    .main-box .image-block{
   
    height:500px;
    width:40%;
    }
    .main-box .image-block img{
        height:500px;
        width:100%;
        

    }
    .main-box .detial-block{
        
        width:60%;


    }
    .main-box .detial-block li{
        margin-top:15px;
        margin-left:40px;
    }
    .main-box .detial-block li:nth-child(2){
        font-size:25px;
    }
    .main-box .detial-block li:nth-child(3){
        font-size:20px;
    }

    .main-box .detial-block li:nth-child(4) select{
        height:40px;
        width:200px;
        border-radius:4px;
        outline:none;
        border-color:rgb(0, 0,0,0.06);
        box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
        font-family: 'IBM Plex Mono', monospace;
        font-family: 'Signika Negative', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
        font-size:20px;
    }
    .main-box .detial-block li:nth-child(5) select{
        height:40px;
        width:200px;
        border-radius:4px;
        outline:none;
        border-color:rgb(0, 0,0,0.06);
        box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
        font-family: 'IBM Plex Mono', monospace;
        font-family: 'Signika Negative', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
        font-size:15px;
    }
    .main-box .detial-block li:nth-child(6) input{
        height:40px;
        width:60px;
        border-radius:4px;
        outline:none;
        border-color:rgb(0, 0,0,0.06);
        box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
        text-align:center;

    }
    .main-box .detial-block li:nth-child(6) button{
        height:40px;
        margin-left:15px;
        background-color:#3e7cef;
        color:white;
        width:100px;
        border-radius:4px;
        outline:none;
        border-color:rgb(0, 0,0,0.06);
        box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
        text-align:center;
        font-family: 'IBM Plex Mono', monospace;
        font-family: 'Signika Negative', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
        font-size:15px;
    }
    .main-box .detial-block li:nth-child(7) button:hover{
        color:rgb(153, 145, 145);
        transition:1s;
         background-color: #91b6f9;
    }
    .main-box .detial-block li:nth-child(7) button{
        height:40px;
        margin-left:15px;
        background-color:#3e7cef;
        color:white;
        width:100px;
        border-radius:4px;
        outline:none;
        border-color:rgb(0, 0,0,0.06);
        box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
        text-align:center;
        font-family: 'IBM Plex Mono', monospace;
        font-family: 'Signika Negative', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
        font-size:15px;
    }
    .main-box .detial-block li:nth-child(6) button:hover{
        color:rgb(153, 145, 145);
        transition:1s;
        background-color: #91b6f9;
    }
    

    /* product inner section:End */
    /* list of all product :start */
    .breadcrum{
        background-color:#f7f7f7;
        height:200px;
        width:100%;
    }
    .breadcrum ul{
        margin-left:120px;
        width:50%;
        height:150px;
        line-height:80px;
      
         
    }
    .breadcrum ul li:nth-child(2){
        font-size:40px;
        font-weight: bold;
    }
    .product-list-main-box{
        /* background-color: yellow; */
         height:auto;
        width:100%;
        margin-top:100px;

    }
    .filter-list{
        
        height:1000px;
        width:30%;
    }
   
    .filter-list ul li{
        margin-top:5px;
        font-size:20px;
        font-weight:lighter;


    }
    #filter-price{
        width:200px;
        margin:10px;
        
    }
    .filter-list ul li input{
         height:20px;
         width:20px;
         outline:none;
         border-color:rgb(0, 0,0,0.06);
         box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
         

    }
    .filter-list ul li:nth-child(1){
        font-size:30px;
        text-align: center;
        /* background-color: antiquewhite; */
    }


    .product-list{
        height:auto;
        width:75%;
    }
    .filter-sorted{
        height:100px;
        width:100%;
        position: relative;
      
    }
    .box-list-all{
        height:auto;
        width:100%;
        
    }
    .component{
       
        width:30%;
        position: absolute;
        right:0px;
        line-height:100px;
    }
    .component select{
        height:60px;
        width:250px;
        text-align:center;
        border-radius:4px;
        outline:none;
        border-color:rgb(0, 0,0,0.06);
        box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
        font-family: 'IBM Plex Mono', monospace;
        font-family: 'Signika Negative', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
        font-size:20px;
    }
    .box-list-all{
        display:flex;
        flex-wrap:wrap;
        gap:20px;
        
    }
    .load-more{
       
        height:100px;
        width:100%;

    }
    #load-more-btn{
        height:70px;
        width:300px;
        border-radius:4px;
        outline:none;
        color: #CBD3D9;
        background-color:#f7f7f7;
        border-color:rgb(0, 0,0,0.06);
        box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
        font-family: 'IBM Plex Mono', monospace;
        font-family: 'Signika Negative', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
        font-size:20px;
        margin:20px 0px 0px 500px;

    }
    #load-more-btn:hover{
        height:75px;
        width:305px;
        color:black;
        transition:1s;
         
    }
    /* list of all product :End */

    /* contact form section:start */
    
    .contact-form{
        /* background-color: red; */
        height:700px;
        width:65%;
    }
    .text-contact{
       
        height:700px;
        width:35%;
    }
    .text-contact ul{
        color: #797e83;
        margin:30px 0px 0px 30px;
    }
    .text-contact ul li:nth-child(1){
        font-size:30px;
    }
    .text-contact ul li:nth-child(2){
        
         margin-top:25px;
    }
    .text-contact ul li:nth-child(3){
        margin-top:25px;
   }
   .text-contact ul li:nth-child(5){
    margin-top:20px;
    font-size:30px;
    }   
    .text-contact ul li:nth-child(6){
        margin-top:30px;
        
    }
     
    .text-contact ul li:nth-child(7){
        margin-top:30px;
        font-size:30px;
        
    }
    .text-contact ul li:nth-child(8){
        margin-top:30px;
        
    }


    .contact-form .first-row{
        margin-top:30px;
        height:100px;
        width:100%;

    }
    .contact-form .flex-box{
        justify-content:space-between;

    }
    .first-row input{
        height:60px;
        width:270px;
        outline:none;
        border-radius:5px;
        font-family: 'IBM Plex Mono', monospace;
        font-family: 'Signika Negative', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
        border:2px solid black;
        border-color:rgb(0, 0,0,0.06);
        text-indent:10px;

    }
    .second-row textarea{
        outline:none;
        border-radius:5px;
        font-family: 'IBM Plex Mono', monospace;
        font-family: 'Signika Negative', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
        border:2px solid black;
        border-color:rgb(0, 0,0,0.06);
        
    }
    .third-row{
        height:50px;
        margin-top:15px;

    }
    .third-row button{
        height:70px;
        width:200px;
        border-radius:5px;
        outline:none;
        color: #fff;
        background-color:#3577f0;
        border-color:rgb(0, 0,0,0.06);
        box-shadow:0px 5px 15px rgb(0, 0,0,0.06);
        font-family: 'IBM Plex Mono', monospace;
        font-family: 'Signika Negative', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
        font-size:20px;
    }

     /* contact form section:End */